<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/global.css}" />
</head>

<body>
    <div class="bodyBackground">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #373a3c;">
            <div class="container">
                <a class="fontTitle" href="home">Urna electoral</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-font" href="registrarCandidato">Registrar candidato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-font" href="/primerTurno/elecciones">Realizar elecciones</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body bg-dark">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center text-light">Registro de candidato</h1>
                            </div>
                            <th:block th:include="mensageValidacion"></th:block>

                            <form method="post" class="container">
                                <div class="form-group py-3">
                                    <label for="nombreCandidato" class="text-light">Nombre</label>
                                    <input type="text" class="inputStyle" name="nombreCandidato" id="nombreCandidato"
                                        placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group py-3">
                                    <label for="tipoCargo" class="text-light">Tipo de
                                        candidato</label>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary bg-light text-dark"
                                            type="button">seleccione el tipo de
                                            cargo</button>
                                        <select class="form-select" name="tipoCargo" id="tipoCargo">
                                            <option value="Presidente">Presidente</option>
                                            <option value="Gobernador">Gobernador</option>
                                            <option value="Senador">Senador</option>
                                            <option value="Diputado Federal">Diputado Federal</option>
                                            <option value="Diputado Estatal">Diputado Estatal</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn bg-light text-dark">Enviar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="bg-dark text-light text-center">
            <div class="container p-4">
                <h1>&copy; Cristian Mello</h1>
                <p>2001 - 2002</p>
                <p>All right Reserverd</p>
            </div>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>